@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';
.fi-sidebar-nav {
    background-color: rgb(43, 44, 135);
}

.fi-sidebar-item-label,
.fi-sidebar-group-label {
    @apply text-gray-200;
}

.fi-sidebar-item-active .fi-sidebar-item-label {
    @apply text-primary-600;
}

.fi-sidebar-item:not(.fi-sidebar-item-active):hover .fi-sidebar-item-label {
    @apply text-gray-600;
}

.fi-sidebar-item-icon {
    @apply text-gray-100;
}

.fi-sidebar-item:hover .fi-sidebar-item-icon,
.fi-sidebar-item-active .fi-sidebar-item-icon {
    @apply text-gray-600;
}

.fi-input,
.fi-select-input {
    @apply rounded-md;
    background-color: rgb(250, 250, 250);
}

.fi-dropdown-panel,
.fi-ta-filters,
.fi-modal-window,
.fi-topbar {
    background-color: white;
}